Tautulli URL not recognized as valid format

### Describe the bug

I'm trying to register the app with my self-hosted instance of Tautulli.

The URL in question is https://plex_stats.kohming.net

### Steps to Reproduce

1. Generate a QR code through Tautulli using the "Register a New Device" option in the settings
2. Verify the URL matches publicly accessible URL for Tautulli
3. Click on Scan a QR code in the Tuatulli mobile app
4. Click "Register Device"
5. Notice the URL is not recognized as a valid format

### Expected Behavior

Expect app to recognize the URL as valid

### Tautulli Remote Version

v3.3.1(168)

### Tautulli Version

v2.15.0

### Mobile Device

Pixel Fold

### Mobile OS

Android 18

### Additional Context

_No response_

I did some testing with alternate URLs. The issue is the underscore in the subdomain. A domain without an underscore causes no issue.

Unfortunately underscores are not valid characters for domain names as per [RFC 1035 section 2.3.1](https://datatracker.ietf.org/doc/html/rfc1035#section-2.3.1).

Specifically:
> They must start with a letter, end with a letter or digit, and have as interior
characters only letters, digits, and hyphen.

Alright so while this doesn't follow standards it is possible the validator I use can allow underscores. I will put this under investigation for now.

For me it does not accept hostname only on the URL, showing "Invalid URL format", like in `https://hostname:port`. The hostname in this case is just a name, no TLD. I can access the server through the browser just fine

That's already answered in #202. 

The next update will include a change so that underscores do not fail the URL validation.

This is available in v3.4.0.